html {
    height: 100%;
}

body {
    margin: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

p, a, h1, h2, h3, h4 {
    color: #333;
    margin: 0;
    padding: 0;
}

p, a {
    font-family: 'Quattrocento', serif;
    font-size: 14px;
    line-height: 24px;
}

a {
    display: block;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 72px;
}

h2 {
    font-weight: 900;
    font-size: 36px;
    letter-spacing: 1px;
}

h3 {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
}

h4 {
    font-weight: 600;
    font-size: 20px;
}

header {
    width: 100%;
    min-width: 290px;
    max-width: 410px;
}   

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 240px;
}

.title > h1 {
    margin: 0;
    padding: 0;
    line-height: 66px;
    letter-spacing: 1px;
}

.links {
    display: none;  
}

.links > a {
    display: block;
}

.links > a > h3 {
    position: relative;
    display: inline;
}

.links > a > h3:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    border-bottom: 3px solid #333;
    -webkit-transition: all 400ms cubic-bezier(0.895, 0.005, 0.235, 1.000); 
        transition: all 400ms cubic-bezier(0.895, 0.005, 0.235, 1.000); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.895, 0.005, 0.235, 1.000); 
        transition-timing-function: cubic-bezier(0.895, 0.005, 0.235, 1.000); /* custom */
}

.links > a:hover > h3:after {
    width: 100%;
}

main {
    margin: 0;
    min-width: 290px;
    max-width: 410px;
}

main > section {
    margin-top: 60px;
    width: 100%;
}

main > section > h2 {
    display: block;
    margin-bottom: 30px;
}

.portfolio .articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

article {
    min-width: 290px;
    max-width: 410px;
    margin-bottom: 24px;
    min-height: 330px;
}

article > .line {
    height:1px;
    border-bottom:1px solid #333;
    margin-top: 24px;
    margin-bottom: 24px;
}

article > a {
    text-decoration: underline;
}

@media screen and (min-width: 625px) {

    header {
        width: 100%;
        min-width: 595px;
        max-width: 595px;
    }   

    main {
        min-width: 595px;
        max-width: 595px;
        width: 100%;
    }

    .portfolio .articles {
        max-width: 595px;
    }

    article {
        width: 290px;
    }


    .articles > article:nth-child(2n + 1) {
        margin-right: 15px;
    }
}

@media screen and (min-width: 768px) {

    body {
        margin: 30px;
    }

    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .title {
        height: 200px;
    }

    .links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        text-align: right;
    }
}

@media screen and (min-width: 960px) {
    header {
        width: 100%;
        min-width: 900px;
        max-width: 900px;
    }   

    main {
        min-width: 900px;
        max-width: 900px;
        width: 100%;
    }

    .portfolio .articles {
        max-width: 900px;
    }

    .articles > article:nth-child(2n + 1) {
        margin-right: 0;
    }

    .articles > article:nth-child(3n + 1) {
        margin-right: 15px;
    }
    
    .articles > article:nth-child(3n + 2) {
        margin-right: 15px;
    }
}

@media screen and (min-width: 1265px) {
    
    h1 {
        font-size: 94px;
    }
    
    h3 {
        font-size: 36px;
    }

    header {
        width: 100%;
        min-width: 1205px;
        max-width: 1205px;
    }   

    .title {
        height: 260px;
    }
    
    .title > h1 {
        margin: 0;
        padding: 0;
        line-height: 86px;
        letter-spacing: 1px;
    }


    main {
        min-width: 1205px;
        max-width: 1205px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
    }

    .bio {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        width: 290px;
    }

    .portfolio .articles {
        max-width: 915px;
    }
}


@media screen and (min-width: 1570px) {
    
    header {
        width: 100%;
        min-width: 1510px;
        max-width: 1510px;
    }   

    main {
        min-width: 1510px;
        max-width: 1510px;
        width: 100%;
    }

    .portfolio .articles {
        max-width: 1220px;
    }
    
    .articles > article:nth-child(3n + 1) {
        margin-right: 0px;
    }
    
    .articles > article:nth-child(3n + 2) {
        margin-right: 0px;
    }
    
    .articles > article:nth-child(4n + 1) {
        margin-right: 15px;
    }
    
    .articles > article:nth-child(4n + 2) {
        margin-right: 15px;
    }
    
    .articles > article:nth-child(4n + 3) {
        margin-right: 15px;
    }
}