/*
Color Palette for presentation.
Gotten from https://designschool.canva.com/blog/website-color-schemes/
Muted Tones Pallette

#C0B283
#DCD0C0
#F4F4F4
#373737
*/

.description {
    color: #F4F4F4;
    font-size: 18px;
    position: relative;
    width: 100%;
}

.footer-card {
    position: absolute;
    color: #F4F4F4;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.profile-picture {
    border-radius: 3px;
    position: relative;
    width: 25%;
}

.name-tag {
    padding-right: 50px;
    float: right;
    color: #C0B283;
    font-size: 50px;
    height:25%;
    text-align: right;
}

.name-tag p {
    font-size: 20px;
}

body {
    background: #DCD0C0;
    background-image: url("symphony.png");
    background-repeat: repeat;
}

#flip {
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    perspective: 1200px;
}

#card {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #F4F4F4;
    width: 800px;
    height: 400px;
    transform-style: preserve-3d;
    transform-origin: right center;
    transition: transform 1s;
    margin: auto;
}

#card figure {
    position: absolute;
    top: 50%;
    border-style: solid;
    border-color: #C0B283;
    border-radius: 5px;
    border-width: 5px;
    padding: 10px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    margin: auto;
}

#card .front {
    background: #373737;
}

#card .back {
    background: #373737;
    transform: rotateY( 180deg);
}

#card.flipped {
    transform: translateX( -100%) rotateY( 180deg);
}

/* unvisited link */
a:link {
    color: #F4F4F4;
}

/* visited link */
a:visited {
    color: #F4F4F4;
}

/* mouse over link */
a:hover {
    color: #C0B283;
}

/* selected link */
a:active {
    color: #C0B283;
}
