/* HEADER */

.header {
    box-sizing: border-box;
    padding: 15px;
    height: 60px;
    background-color: #2e3f4b;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__burger {
    position: absolute;
    left: 15px;
    width: auto;
    height: 30px;
    transition: 0.5s;
}

.header__burger:hover {
    cursor: pointer;
}

.header__burger.menu_active {
    transform: rotateY(180deg);
}

.header__logo {
    height: 30px;
    width: auto;
}

/* ##### DESKTOP STYLING ##### */
@media screen and (min-width: 1280px) {
    .header__burger {
        display: none;
    }
}