.container {
    margin: auto;
    max-width: 1280px;

    display: flex;
    justify-content: center;
}

h2 {
    margin: auto;
}

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-in.show {
    opacity: 1;
}
