.dungeons-widget {
    display: block;
    max-width: 640px;
}

.dungeons-widget__canvas {

}

.dungeons-widget__controls {
    display: flex;

}

.dungeons-widget__control-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dungeons-widget__control-box > div {
    display: flex;
    justify-content: space-between;
}

button {
    width: 100%;
}

.dungeons-widget__controls > div {
    width: 100%;
}

#dungeons-widget__seed {
    width: 100%;
}