/******* FONT CLASSES *******/
/* Factored out of the general animation/positioning code
for convenience */
.montserrat {
    font-family: 'Montserrat', serif;
    font-weight: normal;
}

.merriweather {
    font-family: 'Merriweather', serif;
    font-weight: normal;
}

.playfair {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.tiny {
    font-size: 12px;
}

.small {
    font-size: 14px;
}

.medium {
    font-size: 24px;
}

.no-wrap{
  flex: 0 0 auto; 
}

a {
    text-decoration: none;
}

article > h1 {
    font-family: 'Playfair Display', serif;
    font-family: bolder;
    color: #21303F;
    font-size: 24px;
    margin-top: 40px;
    line-height: 35px;
}

article > p {
    font-family: 'Merriweather', serif;
    font-weight: lighter;
    color: #21303F;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 34px;
    line-height: 30px;
}

.latest {
    opacity: 0.4;
    color: #21303F;
}

.hero_banner {
    color: #ffffff;
}

.hero_banner > p {
    font-size: 36px;
    margin-top: 20px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.hero_banner > h1 {
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}


@media screen and (min-width: 768px) {

    article > h1 {
        font-size: 36px;
        line-height: 48px;
    }

    article > p {
        font-size: 16px;
        line-height: 32px;
    }

    .hero_banner > p {
        font-size: 48px;
    }
}