/******* FONT CLASSES *******/
/* Factored out of the general animation/positioning code
for convenience */
.montserrat {
    font-family: 'Montserrat', serif;
    font-weight: normal;
}

.merriweather {
    font-family: 'Merriweather', serif;
    font-weight: normal;
}

.playfair {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.tiny {
    font-size: 12px;
}

.small {
    font-size: 14px;
}

.medium {
    font-size: 24px;
}

.no-wrap{
  flex: 0 0 auto;
}

a {
    text-decoration: none;
}

article > h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    color: #21303F;
    font-size: 24px;
    margin-top: 40px;
    line-height: 35px;
}

article > p {
    font-family: 'Merriweather', Georgia, serif;
    font-weight: lighter;
    color: #21303F;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 34px;
    line-height: 30px;
}

.latest {
    opacity: 0.4;
    color: #21303F;
}

.hero_banner {
    color: #ffffff;
}

.hero_banner > p {
    font-size: 36px;
    margin-top: 20px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.hero_banner > h1 {
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}


@media screen and (min-width: 768px) {

    article > h1 {
        font-size: 36px;
        line-height: 48px;
    }

    article > p {
        font-size: 16px;
        line-height: 32px;
    }

    .hero_banner > p {
        font-size: 48px;
    }
}
/* ------ GENERAL STYLES AND POSITIONING ------ */

html,
body {
  height: 100%;
  margin: 0px;
}

.root {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    background-color: "#ffffff";

}

.hero {

    background-color: #F6F8F9;

    background: url("../images/herotiny.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
    min-height:100%;
    width: 100%;

    text-align: center;
    transition: filter .3s;
}

.hero.loaded {
  background-image: url("../images/hero.jpg");
}

.blur_on_load {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.hidden {
    display: none;
}

.hero_banner {
    left: 0;
    transition:all 0.4s ease;

    display: inline-block;
    position: absolute;
    width: 335px;
    height: 204px;
    bottom: 0;
    left: 50%;
    margin-left: -167px;
    margin-bottom: 50px;
}

.rectangle_banner {
    margin-top: 20px;
    margin-left: 152px;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    opacity: 0.5;
}

.container {

    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.content {
    height: 100%;

    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.rectangle {
    background-color: #000000;
    margin-top: 40px;
    width: 30px;
    height: 2px;
    opacity: 0.1;
}

.signature {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.gotomedium {
    display: inline-block;
    margin-bottom: 40px;
    color: #21303F;
}

#gradient {
    opacity: 0;
}

/* --------- Tablets --------- */
@media screen and (min-width: 768px) {

    .container {
        margin: 80px;
        margin-bottom: 80px;

    }

    .hero.loaded {
        background-image: url("../images/herobig.jpg");
        height: 100%;
        min-height: 100%;

        transition: all 0.4s ease, background-position 0;
        text-align: center;
    }

    .hero_banner {
        width: 580px;
        height: 262px;
        margin-left: -290px;
    }


    .rectangle_banner {
        margin-left: 275px;
    }
}

/* --------- Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

    .signature {
        position: absolute;
        margin: 0 auto;
        bottom: 7%;
        left: 75%;

    }

    .rectangle {
        margin-top: 20px;
    }

    .root {
        height: 100%;
        display: -ms-flexbox;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;

        background-color: "#ffffff";
    }

    .hero {
        width: 50%;
    }

    .hero_banner {
        left: 25%;
    }

    .content {
        width: 50%;
        height: 85%;
        overflow: hidden;
        overflow-y: auto;
    }

    #gradient { /* FF3.6-15 */

        opacity: 1;
        position: absolute;
        left: 50%;
        bottom: 15%;

        width: 50%;
        height: 50px;

        /*allow scrolling the parrent*/
        pointer-events: none;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }

    .container {
        margin-bottom: 40px;
    }

}

@media only screen and (min-width : 1400px) {

    #gradient {
        left: 55%;
        width: 45%;
    }

    .hero {
        width: 55%;
    }

    .hero_banner {
        left: 27.5%;
    }

    .content {
        width: 45%;
    }

    .signature {
        left: 77.5%;
    }
}

@media only screen and (min-width : 1500px) {

    #gradient {
        left: 57.5%;
        width: 42.5%;
    }

    .hero {
        width: 57.5%;
    }

    .hero_banner {
        left: 28.75%;
    }

    .content {
        width: 42.5%;
    }

    .signature {
        left: 78.25%;
    }
}

@media only screen and (min-width : 1600px) {

    #gradient {
        left: 60%;
        width: 40%;
    }

    .hero {
        width: 60%;
    }

    .hero_banner {
        left: 30%;
    }

    .content {
        width: 40%;
    }

    .signature {
        left: 80%;
    }
}


@media screen and (max-height: 320px) {

    .hero_banner {
        height: 2px;
    }

    .hero_banner > p {
        display: none;
    }

    .rectangle_banner {
        display: none;
    }

    .hero {
        background-position: top;
        background-position-y: -80px;
        transition: 1s ease;
    }

}

.noshow {
    opacity: 0;
}

/* ------ MENU STYLE AND ANIMATION ------ */
.header {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.0);
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out, background 0.2s ease-out;
  transition: all 0.2s ease-out, background 0.2s ease-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  z-index: 1;
}

.header #burger-container {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 100px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;

}
.header ul.menu {
  position: relative;
  display: block;
  padding: 0px 48px 0;
  list-style: none;
  text-align: center;
}

.header ul.menu li.menu-item::after {

    width: 50px;
    height: 50px;
}

.header ul.menu li.menu-item {
  margin-bottom: 30px;
  -webkit-transform: scale(1.15) translateY(-30px);
          transform: scale(1.15) translateY(-30px);
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.header ul.menu li.menu-item:nth-child(1) {
  -webkit-transition-delay: 0.49s;
          transition-delay: 0.49s;
}
.header ul.menu li.menu-item:nth-child(2) {
  -webkit-transition-delay: 0.42s;
          transition-delay: 0.42s;
}
.header ul.menu li.menu-item:nth-child(3) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}
.header ul.menu li.menu-item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}
.header ul.menu li.menu-item:nth-child(5) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}
.header ul.menu li.menu-item:nth-child(6) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}
.header ul.menu li.menu-item:nth-child(7) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}
.header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 18px;
  font-weight: normal;
  width: 100%;
}

.header ul.menu li.menu-item span {
  position: relative;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    margin-top: 30px;
    display: block;
    width: 30px;
    height: 3px;
    background: rgba(255,255,255,0.2);
}

.header.menu-opened {

  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  background-color: #223040;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.header.menu-opened ul.menu li.menu-item {
  -webkit-transform: scale(1) translateY(0px);
          transform: scale(1) translateY(0px);
  opacity: 1;
}
.header.menu-opened ul.menu li.menu-item:nth-child(1) {
  -webkit-transition-delay: 0.27s;
          transition-delay: 0.27s;
}
.header.menu-opened ul.menu li.menu-item:nth-child(2) {
  -webkit-transition-delay: 0.34s;
          transition-delay: 0.34s;
}
.header.menu-opened ul.menu li.menu-item:nth-child(3) {
  -webkit-transition-delay: 0.41s;
          transition-delay: 0.41s;
}
.header.menu-opened ul.menu li.menu-item:nth-child(4) {
  -webkit-transition-delay: 0.48s;
          transition-delay: 0.48s;
}
.header.menu-opened ul.menu li.menu-item:nth-child(5) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.header.menu-opened .icon.icon-bag {
  -webkit-transform: translateX(75px);
          transform: translateX(75px);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu_icon_wrapper {
    position: absolute;
    left: 0px;
}

/* btn */
#menu_icon {
	position: absolute;
	display:  inline-block;
  margin: 30px;
	width: 26px;
	height: 17px;
}

#menu_icon span {
	margin: 0 auto;
	position: relative;
	top: 12px;
}
#menu_icon span:before, #menu_icon span:after {
	position: absolute;
	content: '';
}
#menu_icon span, #menu_icon span:before, #menu_icon span:after {
	width: 26px;
	height: 1px;
	background-color: #000000;
	display: block;
}

#menu_icon span:before {
	margin-top: -9px;
}
#menu_icon span:after {
	margin-top: 9px;
}

/* example 5 */
#menu_icon span {

	-webkit-transition-duration: 0s; transition-duration: 0s;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
#menu_icon.activated span {
	background-color: rgba(255,255,255,0.0);

	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
#menu_icon span:before {
	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform, background;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;

}
#menu_icon.activated span:before {
  background-color: #ffffff;
	margin-top: 0;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
#menu_icon span:after {

	-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform, background;
	-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
	-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;

}
#menu_icon.activated span:after {
  background-color: #ffffff;
	margin-top: 0;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

.hero_banner.deactivated {
    display: none;
}

.content.deactivated {
    display: none;
}


/* Tablets */
@media screen and (min-width: 768px) {

    .header {
        display: none;
    }

    header.menu-opened {
        display: none;
    }

    .hero.deactivated {
        display: -ms-flexbox;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;
    }

    .content.deactivated {
        display: -ms-flexbox;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: box;
    }
}

/* ------- NAV STYLE AND ANIMATIONS ------- */
.nav_container {
    display: none;
}

.underline {
    display: inline-block;
    position: relative;
    color: #21303F;
    text-decoration: none;
    white-space: nowrap;
}

.underline:hover {
    color: #21303F;
}

.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -10px;
    left: 0;
    background-color: #07F9F8;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Tablets */
@media screen and (min-width: 768px) {

.nav_container {
        background-color: #ffffff;
        display: flex;
        margin-bottom: 40px;

    }

    .nav_item {
        width: 20%;
        color: #21303F;
    }
}
